<table class="">
  <thead class="">
    <tr>
      <th scope="">#</th>
      <th scope="">Email</th>
      <th scope=""> Name</th>
      {{!-- <th scope="">Password</th>
      <th scope="">IsAdmin</th> --}}
      <th scope="" class="text-end">Action</th>

    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.email}}</td>
        <td>{{this.name}}</td>
        <!-- <td>{{this.password}}</td>
        <td>{{this.isAdmin}}</td> -->
        <td class="">
          <a href="#" type="button" class=""><i class=""></i>View</a>
          <a href="#" type="button" class=""><i class=""></i>Edit</a>
          <a href="#" type="button" class=""><i class=""></i>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>